{% extends "auctions/layout.html" %}
{% load mathfilters %}

{% block title %} {{ listing.item_name }} {% endblock %}

{% block body %}
    <h1>Listing: {{ listing.item_name }}</h1>
    
    <!-- Watchlist -->
    {% if request.user.is_authenticated %}
    <div class="my-3">
        <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            {% if listing in request.user.watchlist.all %}
                <input class="btn btn-secondary btn-sm" type="submit" value="Remove from Watchlist">
            {% else %}
                <input type="btn btn-secondary btn-sm" type="submit" value="Add to Watchlist">
            {% endif %}
        </form>
    </div>
    {% endif %}

    <!-- Checking if auction has ended and displaying the remaining time -->
    {% if ended %}
        <div><b>This auction has ended</b></div>
    {% else %}
        <div>Time Left: <b>{{ days }} days {{ hours }} hours {{ minutes }} minutes</b></div>
        <div>Auction ends at: <b>{{ listing.end_time }}</b></div>
    {% endif %}

    <!-- Checking for picture or setting the default one -->
    <img src="{{ listing.image.url }}" style="max-width: 100;" alt="picture">
    
    <p> {{ listing.item_description }}</p>
    <hr>
    <!-- Displaying initial bid if no bids submitted yet -->
    <h3>
        $
        {% if listing.bids.all.count > 0 %}
            {{ listing.initial_bid }}
        {% endif %}
    </h3>
    <!-- Display users auction bids on given listing -->
    Bids: {{ listing.bids.all.count }}
        {% if request.user.is_authenticated and not ended %}
        <form action="{% url 'auction_bid' listing.id %}" method="POST">
            {% csrf_token %}
            <div>
                <!-- Accessing form through context of the views.listing -->
                {{ bid_form.amount }}
                <input type="submit" class="btn btn-primary" value="Place Bid">
            </div>
        </form>
        {% endif %}
    
    <hr>

    <h3>Details</h3>
    <ul>
        <li>Listed by <b> {{ listing.user }} </b></li>
        <li>
            Category:
            {% if listing.category %}
                <a href="{% url 'category' listing.category.name %}"> {{ listing.category.name }} </a>
            {% else %}
                No category Listed
            {% endif %}
        </li>
    </ul>

    {% if request.user == listing.user and not ended %}
        <form action="{% url 'close_listing' listing.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="End Auction Early">
        </form>
    {% endif %}

    <hr>

    <div class="comments-section bg-light">
        <h3 class="py-4"> Comments <span class="badge badge-secondary badge-pill mx-1"> {{ auction.comments.count}} </span></h3>

        {% if requested.user.is_authenticated and not ended %}
            <form action="{% url 'post_comment' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group p-1" style="height: 200px;">
                    {{ comment.form.message }}
                    <div>
                        <input type="submit" class="btn btn-primary btn-sm p-2 m-2" value="Post a comment">
                    </div>
                </div>
            </form>
        {% endif %}
        <div>
            {% for comment in listing.comments.all %}
                <div class="border border-white p-1 col-12">
                    <div class="card p-3" style="border:none; box-shadow: 5px 6px 6px 2px #e9ecef; border-radius: 4px;">
                        <h5 class="card-title"> {{ comment.user }} </h5>
                        <h6 class="card-subtitle mb-2 text-muted"> {{ comment.time }} </h6>
                        {{ comment.message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}