{% extends "auctions/layout.html" %}

{% block body %}
    <h2>User: <strong>{{ title }}</strong></h2>
    <br>
    <h3 class="my-2"> All users listings: </h3>
    <hr>
    <div class="flex-column">
        <!-- Displays all the listings that user ever posted on the website -->
        {% for listing in listings %}
            <div class="card mb-3" style="max-width: 100%">
                <div class="row no-gutters"> 
                    <div class="col-4">
                        <img src="{{ listing.picture.url }}" style="max-width: 100%;" alt="picture">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h4><a href="{% url 'listing' listing.id %}">{{ listing.item_name }}</a></h4>
                            <h5 class="my-2">
                                {% if listing.bids.all.count > 0 %}
                                    $ {{ listing.bids.first.amount }}
                                {% else %}
                                    $ {{ listing.initial_bid }}
                                {% endif %}
                            </h5>
                            <br>
                            <p>{{ listing.item_description }}</p>
                            {% if listing.is_finished %}
                                <small class="card-text muted">
                                    <b>This auction has ended</b>
                                </small>
                            {% else %}                    
                                <small class="card-text muted">
                                    Ends {{ listing.end_time }}
                                </small>
                            {% endif %}
                            <br>
                            <a href="{% url 'category' listing.category %}"><span class="badge badge-secondary badge-pill"> {{ listing.category }} </span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}